.coverage

__pycache__
node_modules
testmedia
media
htmlcov
staticfiles
_test-output
.vscode/
.idea/
.mypy_cache/
.pytest_cache/
.python-version
Pipfile*

db.sqlite3
geckodriver.log
npm-debug.log

*.pyc
*.env
*.log
*.pid
!systemjs.config.js
!karma.conf.js
!karma-test-shim.js
!protractor.conf.js

scripts/results/*
farmgo_web.egg-info/*
celerybeat-schedule

docker-compose.env
